<div class="body-container">
  <div class="form-container">
    <div class="form-section">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <!--collegamento tra la proprietà idCategory e il valore selezionato -->
        <mat-select [(ngModel)]="idCategory">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-section">
      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <!--collegamento tra la proprietà selectedDifficulty e il valore selezionato -->
        <mat-select [(ngModel)]="selectedDifficulty">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Pulsante Start -->
    <div class="form-section">
      <button
        mat-raised-button
        color="primary"
        (click)="getCategories()"
        [disabled]="!(idCategory && selectedDifficulty)"
        routerLink="/questions"
      >
        Start
      </button>
    </div>
  </div>

  <!-- <select *ngFor="let category of apiData; index as i" name="Category" id="">
    <option value="">{{ category.trivia_categories[0].name }}</option>
  </select> -->
</div>
