<h1>AA</h1>

<div class="form-container">
  <div class="form-section">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-section">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let category of difficulties"
          [value]="category.name"
        >
          {{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-section">
    <button mat-raised-button color="primary" (click)="getCategories()">
      Start
    </button>
  </div>
</div>

<select *ngFor="let category of apiData; index as i" name="Category" id="">
  <option value="">{{ category.trivia_categories[0].name }}</option>
</select>
